/*
* {
    box-sizing: border-box;
    border-style: solid;
    border-color: red;
    border-width: 1px;
} */

/* to benefit smooth scroll through the page */
html {
    scroll-behavior: smooth;
} 

:root {
    --padding: 20px;
    --margin: 10px;
    --color:antiquewhite;
    --box-shadow: 15px 10px 12px #520120;
    --border-radius: 25px;
    --noBorder: 0;
    --size1: 20px;
    --font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
body {
    background-color: #330000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D18'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover; 
}
.container {
    font-size: 30px;
    background-size: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
} 
/* to benefit elements*/
.container .row .col-sm-1 .card a {
    text-decoration: none;
    color: black;
    opacity: 0.8;
}
.description, .card-text, .list, .info, .details {
    font-size: var(--size1);
    font-family: var(--font-family);
}
/* navbar */
.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
    font-size: 20px;
}
#mainNav .navbar-brand {
    font-size: 30px;
    color: var(--color);
    font-weight: 400;
}
/* hover effect added to navbar link section*/
.navbar-nav a:hover {
    color: var(--color);
    text-decoration: underline;
}


    /* jumbotron */
.me {
    background-image: url("../images/me.2.jpg");
    background-size: cover;
    margin: 0 100px;
    height: calc(100vh - 25px);
    box-shadow: var(--box-shadow);
    border-radius: var();
    border-radius: var(--border-radius);
}
.custom-Jumbo {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
/* to benefit all child elements */
.developer, .description, div h2 {
    color: var(--color);
}
/* to add extra padding for h2 elements*/
.project, .info, .about-me, .learn {
    padding-bottom: 15px;
}
#about {
    padding: 0 30px;
}
/* to benefit all child elements */
.container ul li, .container ul, .box, .container .row .col-sm-1 .card, .footer a {
    border: var(--noBorder);
}
/* to benefit mid column*/
.web {
    display: flex;
    padding: 20px;
    text-align: center;
    justify-content: center;
  }
.web::before, .web::after {
    content: "🙌";
    display: flex;
    align-items: center;
} 
/* hover effect added to hyperlink buttons */
.col-md-4 a:hover {
  color: var(--color);
  text-decoration: underline;
  box-shadow: var(--box-shadow);
}
#projects {
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}